<a href="https://colab.research.google.com/github/Sridharatgithub/AP/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np
data=pd.read_csv('/content/Groceries_dataset.csv')
data.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [ ]:
data['Date']=pd.to_datetime(data['Date'])
data['Member_number']= data['Member_number'].astype('object')
str(data['Date'].dt.date.min()) + '  to  ' +str(data['Date'].dt.date.max())

'2014-01-01  to  2015-12-30'

In [ ]:
print("Top 10 frequently sold products(Tabular Representation)")
x = data['itemDescription'].value_counts().sort_values(ascending=False)[:10]
x

Top 10 frequently sold products(Tabular Representation)

whole milk          2502
other vegetables    1898
rolls/buns          1716
soda                1514
yogurt              1334
root vegetables     1071
tropical fruit      1032
bottled water        933
sausage              924
citrus fruit         812
Name: itemDescription, dtype: int64

In [ ]:
products = data['itemDescription'].unique()
dummy = pd.get_dummies(data['itemDescription'])
data.drop(['itemDescription'], inplace =True, axis=1)
data = data.join(dummy)
data.head()

,Member_number,Date,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,1808,2015-07-21,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2552,2015-05-01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,2300,2015-09-19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1187,2015-12-12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3037,2015-01-02,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
data1 = data.groupby(['Member_number', 'Date'])[products[:]].sum()
data1

                          tropical fruit  whole milk  pip fruit  \
Member_number Date
1000          2014-06-24               0           1          0
              2015-03-15               0           1          0
              2015-05-27               0           0          0
              2015-07-24               0           0          0
              2015-11-25               0           0          0
...                                  ...         ...        ...
4999          2015-05-16               0           0          0
              2015-12-26               0           0          0
5000          2014-09-03               0           0          0
              2014-11-16               0           0          0
              2015-10-02               0           0          0

                          other vegetables  rolls/buns  pot plants  \
Member_number Date
1000          2014-06-24                 0           0           0
              2015-03-15                 0           0           0
              2015-05-27                 0           0           0
              2015-07-24                 0           0           0
              2015-11-25                 0           0           0
...                                    ...         ...         ...
4999          2015-05-16                 0           0           0
              2015-12-26                 0           0           0
5000          2014-09-03                 0           0           0
              2014-11-16                 1           0           0
              2015-10-02                 0           0           0

                          citrus fruit  beef  frankfurter  chicken  ...  \
Member_number Date                                                  ...
1000          2014-06-24             0     0            0        0  ...
              2015-03-15             0     0            0        0  ...
              2015-05-27             0     0            0        0  ...
              2015-07-24             0     0            0        0  ...
              2015-11-25             0     0            0        0  ...
...                                ...   ...          ...      ...  ...
4999          2015-05-16             0     0            0        0  ...
              2015-12-26             0     0            0        0  ...
5000          2014-09-03             0     0            0        0  ...
              2014-11-16             0     0            0        0  ...
              2015-10-02             0     0            0        0  ...

                          flower (seeds)  rice  tea  salad dressing  \
Member_number Date
1000          2014-06-24               0     0    0               0
              2015-03-15               0     0    0               0
              2015-05-27               0     0    0               0
              2015-07-24               0     0    0               0
              2015-11-25               0     0    0               0
...                                  ...   ...  ...             ...
4999          2015-05-16               0     0    0               0
              2015-12-26               0     0    0               0
5000          2014-09-03               0     0    0               0
              2014-11-16               0     0    0               0
              2015-10-02               0     0    0               0

                          specialty vegetables  pudding powder  ready soups  \
Member_number Date
1000          2014-06-24                     0               0            0
              2015-03-15                     0               0            0
              2015-05-27                     0               0            0
              2015-07-24                     0               0            0
              2015-11-25                     0               0            0
...                                        ...             ...          ...
4999          2015-05-16                     0               0            0
              2015-12-26                     0               0            0
5000          2014-09-03                     0               0            0
              2014-11-16                     0               0            0
              2015-10-02                     0               0            0

                          make up remover  toilet cleaner  \
Member_number Date
1000          2014-06-24                0               0
              2015-03-15                0               0
              2015-05-27                0               0
              2015-07-24                0               0
              2015-11-25                0               0
...                                   ...             ...
4999          2015-05-16                0               0
              2015-12-26                0               0
5000          2014-09-03                0               0
              2014-11-16                0               0
              2015-10-02                0               0

                          preservation products
Member_number Date
1000          2014-06-24                      0
              2015-03-15                      0
              2015-05-27                      0
              2015-07-24                      0
              2015-11-25                      0
...                                         ...
4999          2015-05-16                      0
              2015-12-26                      0
5000          2014-09-03                      0
              2014-11-16                      0
              2015-10-02                      0

[14963 rows x 167 columns]

In [ ]:
#Replacing all non-zero values with the name of the product:

def product_names(x):
  for product in products:
    if x[product] >0:
      x[product] = product
  return x

data1 = data1.apply(product_names, axis=1)
data1.head()

                         tropical fruit  whole milk pip fruit  \
Member_number Date
1000          2014-06-24              0  whole milk         0
              2015-03-15              0  whole milk         0
              2015-05-27              0           0         0
              2015-07-24              0           0         0
              2015-11-25              0           0         0

                         other vegetables rolls/buns pot plants citrus fruit  \
Member_number Date
1000          2014-06-24                0          0          0            0
              2015-03-15                0          0          0            0
              2015-05-27                0          0          0            0
              2015-07-24                0          0          0            0
              2015-11-25                0          0          0            0

                         beef frankfurter chicken  ... flower (seeds) rice  \
Member_number Date                                 ...
1000          2014-06-24    0           0       0  ...              0    0
              2015-03-15    0           0       0  ...              0    0
              2015-05-27    0           0       0  ...              0    0
              2015-07-24    0           0       0  ...              0    0
              2015-11-25    0           0       0  ...              0    0

                         tea salad dressing specialty vegetables  \
Member_number Date
1000          2014-06-24   0              0                    0
              2015-03-15   0              0                    0
              2015-05-27   0              0                    0
              2015-07-24   0              0                    0
              2015-11-25   0              0                    0

                         pudding powder ready soups make up remover  \
Member_number Date
1000          2014-06-24              0           0               0
              2015-03-15              0           0               0
              2015-05-27              0           0               0
              2015-07-24              0           0               0
              2015-11-25              0           0               0

                         toilet cleaner preservation products
Member_number Date
1000          2014-06-24              0                     0
              2015-03-15              0                     0
              2015-05-27              0                     0
              2015-07-24              0                     0
              2015-11-25              0                     0

[5 rows x 167 columns]

In [ ]:
data1['whole milk']

Member_number  Date
1000           2014-06-24    whole milk
               2015-03-15    whole milk
               2015-05-27             0
               2015-07-24             0
               2015-11-25             0
                                ...
4999           2015-05-16             0
               2015-12-26             0
5000           2014-09-03             0
               2014-11-16             0
               2015-10-02             0
Name: whole milk, Length: 14963, dtype: object

In [ ]:
print("Total Number of Transactions:", len(data1))
x = data1.values
x = [sub[~(sub==0)].tolist() for sub in x if sub [sub != 0].tolist()]
transactions = x
transactions[0:10]

Total Number of Transactions: 14963

[['whole milk', 'pastry', 'salty snack'],
 ['whole milk', 'yogurt', 'sausage', 'semi-finished bread'],
 ['soda', 'pickled vegetables'],
 ['canned beer', 'misc. beverages'],
 ['sausage', 'hygiene articles'],
 ['whole milk', 'rolls/buns', 'sausage'],
 ['whole milk', 'soda'],
 ['frankfurter', 'soda', 'whipped/sour cream'],
 ['frankfurter', 'curd'],
 ['beef', 'white bread']]

In [ ]:
try:
    import apyori
except:
    !pip install apyori

from apyori import apriori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5973 sha256=48e1102a6f1bd8b8a6865cae97e7a0c5aebe9cf74669af34a840ccf1194c9ac7
  Stored in directory: /root/.cache/pip/wheels/1b/02/6c/a45230be8603bd95c0a51cd2b289aefdd860c1a100eab73661
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
rules = apriori(transactions, min_support = 0.00030, min_confidence = 0.05, min_lift = 3, max_length = 2, target = "rules")
association_results = list(rules)
print(association_results[0])

RelationRecord(items=frozenset({'fruit/vegetable juice', 'liver loaf'}), support=0.00040098910646260775, ordered_statistics=[OrderedStatistic(items_base=frozenset({'liver loaf'}), items_add=frozenset({'fruit/vegetable juice'}), confidence=0.12, lift=3.5276227897838903)])

In [ ]:
Result=[]
for item in association_results:
    
    pair = item[0]
    items = [x for x in pair]
    
    print("Rule : ", items[0], " -> " + items[1])
    print("Support : ", str(item[1]))
    print("Confidence : ",str(item[2][0][2]))
    print("Lift : ", str(item[2][0][3]))
    a=items[0]+" -> " + items[1]
    Result.append(a)
    print("=============================") 
Result

Rule :  fruit/vegetable juice  -> liver loaf
Support :  0.00040098910646260775
Confidence :  0.12
Lift :  3.5276227897838903
=============================
Rule :  pickled vegetables  -> ham
Support :  0.0005346521419501437
Confidence :  0.05970149253731344
Lift :  3.4895055970149254
=============================
Rule :  roll products   -> meat
Support :  0.0003341575887188398
Confidence :  0.06097560975609757
Lift :  3.620547812620984
=============================
Rule :  salt  -> misc. beverages
Support :  0.0003341575887188398
Confidence :  0.05617977528089888
Lift :  3.5619405827461437
=============================
Rule :  misc. beverages  -> spread cheese
Support :  0.0003341575887188398
Confidence :  0.05
Lift :  3.170127118644068
=============================
Rule :  soups  -> seasonal products
Support :  0.0003341575887188398
Confidence :  0.10416666666666667
Lift :  14.704205974842768
=============================
Rule :  sugar  -> spread cheese
Support :  0.00040098910646260775
Confidence :  0.06
Lift :  3.3878490566037733
=============================

['fruit/vegetable juice -> liver loaf',
 'pickled vegetables -> ham',
 'roll products  -> meat',
 'salt -> misc. beverages',
 'misc. beverages -> spread cheese',
 'soups -> seasonal products',
 'sugar -> spread cheese']

In [ ]:
!pip install flask-ngrok
!pip install pyngrok

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting flask-ngrok
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.8/dist-packages (from flask-ngrok) (1.1.4)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from flask-ngrok) (2.23.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-ngrok) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-ngrok) (1.1.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-ngrok) (7.1.2)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.8/dist-packages (from Flask>=0.8->flask-ngrok) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.8->flask-ngrok) (2.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->flask-ngrok) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->flask-ngrok) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->flask-ngrok) (2022.12.7)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->flask-ngrok) (3.0.4)
Installing collected packages: flask-ngrok
Successfully installed flask-ngrok-0.0.25
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyngrok
  Downloading pyngrok-5.2.1.tar.gz (761 kB)
     |████████████████████████████████| 761 kB 7.3 MB/s
Requirement already satisfied: PyYAML in /usr/local/lib/python3.8/dist-packages (from pyngrok) (6.0)
Building wheels for collected packages: pyngrok
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-5.2.1-py3-none-any.whl size=19792 sha256=cccb75729818be3c9a5118858e53ab8ee4814b66cd7eac794a01b6a2d7eb42d9
  Stored in directory: /root/.cache/pip/wheels/5d/f2/70/526da675d32f17577ec47ac4c663084efe39d47c826b6c3bb1
Successfully built pyngrok
Installing collected packages: pyngrok
Successfully installed pyngrok-5.2.1

In [ ]:
!mkdir -p /drive/ngrok-ssh
%cd /drive/ngrok-ssh
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip -O ngrok-stable-linux-amd64.zip
!unzip -u ngrok-stable-linux-amd64.zip
!cp /drive/ngrok-ssh/ngrok /ngrok
!chmod +x /ngrok
!/ngrok authtoken 2JDYqGjs4asel0gvMfejmtDqcf3_46zVF373ybZpLZvHgSzmR

/drive/ngrok-ssh
--2022-12-23 04:50:32--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 18.205.222.128, 54.237.133.81, 52.202.168.65, ...
Connecting to bin.equinox.io (bin.equinox.io)|18.205.222.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13832437 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip’

ngrok-stable-linux- 100%[===================>]  13.19M  19.3MB/s    in 0.7s

2022-12-23 04:50:33 (19.3 MB/s) - ‘ngrok-stable-linux-amd64.zip’ saved [13832437/13832437]

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok
Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml

In [ ]:
from flask_ngrok import run_with_ngrok
from flask import request, jsonify, Flask
import random as rk

In [92]:
from flask import Flask,make_response
from flask import render_template 
from flask_ngrok import run_with_ngrok
app = Flask(__name__,template_folder='/content/')
run_with_ngrok(app)   
import csv   
@app.route("/")

def home():
  return render_template('input.html', result=Result)

@app.route("/input",methods=['GET', 'POST'])
def input():
  Id = request.form['member']
  Dt = request.form['dt']
  Product = request.form['Items']
  print(Id,"",Dt,"",Product)
  #df2 = pd.DataFrame({"Member_number":[Id],"Date":[Dt], "itemDescription":[Product]}) 
  #dff = data.append(df2, ignore_index = True)
  #df2.to_csv('/content/Groceries_dataset.csv',mode='a',index = False)
  fields=[Id,Dt,Product]
  with open(r'/content/Groceries_dataset.csv', 'a') as f:
    writer = csv.writer(f)
    writer.writerow(fields)
  add = "added"
  return add
  
   
@app.route("/output",methods=['GET', 'POST'])
def output():
  rules = apriori(transactions, min_support = 0.00030, min_confidence = 0.05, min_lift = 3, max_length = 2, target = "rules")
  association_results = list(rules)
  print(association_results[0])
  Result=[]
  for item in association_results:
    pair = item[0]
    items = [x for x in pair]
    a=items[0]+" -> " + items[1]
    Result.append(a)
  return render_template('result.html', result=Result) 
  
#@app.route("/generate")
#def generate():

app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

INFO:werkzeug: * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://b947-34-125-189-66.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

INFO:werkzeug:127.0.0.1 - - [23/Dec/2022 09:09:57] "GET / HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [23/Dec/2022 09:09:57] "GET /favicon.ico HTTP/1.1" 404 -
INFO:werkzeug:127.0.0.1 - - [23/Dec/2022 09:10:07] "POST /input HTTP/1.1" 200 -

1234  2022-12-23  sausage

INFO:werkzeug:127.0.0.1 - - [23/Dec/2022 09:10:11] "POST /output HTTP/1.1" 200 -

RelationRecord(items=frozenset({'fruit/vegetable juice', 'liver loaf'}), support=0.00040098910646260775, ordered_statistics=[OrderedStatistic(items_base=frozenset({'liver loaf'}), items_add=frozenset({'fruit/vegetable juice'}), confidence=0.12, lift=3.5276227897838903)])

INFO:werkzeug:127.0.0.1 - - [23/Dec/2022 09:18:41] "GET / HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [23/Dec/2022 09:19:01] "GET /favicon.ico HTTP/1.1" 404 -
INFO:werkzeug:127.0.0.1 - - [23/Dec/2022 09:21:20] "POST /output HTTP/1.1" 200 -

RelationRecord(items=frozenset({'fruit/vegetable juice', 'liver loaf'}), support=0.00040098910646260775, ordered_statistics=[OrderedStatistic(items_base=frozenset({'liver loaf'}), items_add=frozenset({'fruit/vegetable juice'}), confidence=0.12, lift=3.5276227897838903)])

INFO:werkzeug:127.0.0.1 - - [23/Dec/2022 09:21:47] "POST /input HTTP/1.1" 200 -

1  2022-12-23  yogurt

INFO:werkzeug:127.0.0.1 - - [23/Dec/2022 09:21:54] "POST /output HTTP/1.1" 200 -

RelationRecord(items=frozenset({'fruit/vegetable juice', 'liver loaf'}), support=0.00040098910646260775, ordered_statistics=[OrderedStatistic(items_base=frozenset({'liver loaf'}), items_add=frozenset({'fruit/vegetable juice'}), confidence=0.12, lift=3.5276227897838903)])

In [ ]:
for index, row in data.iterrows():

In [ ]:
data2=pd.read_csv('/content/Groceries_dataset.csv')
data2.iloc[[38772]]